# Code
.vscode/*
code/simu1D/Exports/Frames/*
code/simu1D/Modules/__pycache__/Solveur1D.cpython-38.pyc


# LateX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.xml
main-blx.bib*
*.xdv
*.fdb_latexmk
*.fls
*.snm
*.nav
*.vrb

## Jetbrains
*iml
code/simu1D/__pycache__/FractureSolverOld.cpython-38.pyc
code/simu1D/__pycache__/FractureSolver.cpython-38.pyc
code/simu1D/__pycache__/PercussionSolver.cpython-38.pyc
