# Rapport de stage
reports/internship/*

!reports/internship/main.tex
!reports/internship/main.pdf
!reports/internship/MastersDoctoralThesis.cls
!reports/internship/bibliography.bib
!reports/internship/bibliography_matthias.bib
!reports/internship/bibliography_dimitri.bib

!reports/internship/Figures/

reports/internship/Chapters/*
reports/internship/Appendices/*

!reports/internship/Chapters/
!reports/internship/Appendices/

!reports/internship/Chapters/Chapter1.tex
!reports/internship/Chapters/Chapter2.tex
!reports/internship/Chapters/Chapter3.tex
!reports/internship/Chapters/Chapter4.tex
!reports/internship/Chapters/Chapter5.tex
!reports/internship/Chapters/Chapter6.tex

!reports/internship/Appendices/AppendixA.tex
!reports/internship/Appendices/AppendixB.tex

# Resume de these Dimitri
reports/dimitri/*

!reports/dimitri/main.tex
!reports/dimitri/main.pdf
!reports/dimitri/fphw.cls
!reports/dimitri/bibliography.bib

!reports/dimitri/img/

# Resume de these Matthias
reports/matthias/*

!reports/matthias/main.tex
!reports/matthias/main.pdf
!reports/matthias/fphw.cls
!reports/matthias/bibliography.bib

!reports/matthias/img/

# Rapport toute semaine confondu
!reports/weeks/img
!reports/weeks/bib

# Rapport semaine 1
reports/weeks/1/*

!reports/weeks/1/main.tex
!reports/weeks/1/main.pdf
!reports/weeks/1/fphw.cls

# Rapport semaine 2
reports/weeks/2/*

!reports/weeks/2/main.tex
!reports/weeks/2/main.pdf
!reports/weeks/2/fphw.cls

# Rapport semaine 3
reports/weeks/3/*

!reports/weeks/3/main.tex
!reports/weeks/3/main.pdf
!reports/weeks/3/fphw.cls

# Rapport semaine 4
reports/weeks/4/*

!reports/weeks/4/main.tex
!reports/weeks/4/main.pdf
!reports/weeks/4/fphw.cls

# Rapport semaine 5
reports/weeks/5/*

!reports/weeks/5/main.tex
!reports/weeks/5/main.pdf
!reports/weeks/5/fphw.cls

# Rapport semaine 6
reports/weeks/6/*

!reports/weeks/6/main.tex
!reports/weeks/6/main.pdf
!reports/weeks/6/fphw.cls


